<%= form_for report, html: {class: 'form-horizontal'} do |f| %>
  <div class="control-group <%= class_for_form_field report, :from_date %>">
    <label class="control-label">From:</label>
    <div class="controls">
      <%= f.text_field :from_date, class: 'datepicker-field' %>
      <%= render 'shared/field_validation', record: report, field: :from_date %>
    </div>
  </div>
  <div class="control-group <%= class_for_form_field report, :to_date %>">
    <label class="control-label">To:</label>
    <div class="controls">
      <%= f.text_field :to_date, class: 'datepicker-field' %>
      <%= render 'shared/field_validation', record: report, field: :to_date %>
    </div>
  </div>
  <div class="control-group <%= class_for_form_field report, :price_per_km %>">
    <label class="control-label">Price per 1 kilometer:</label>
    <div class="controls">
      <%= f.text_field :price_per_km %>
      <%= render 'shared/field_validation', record: report, field: :price_per_km %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit class: 'btn' %>
    </div>
  </div>
<% end %>
